* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Core */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1rem;
}

li {
  list-style: none;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}

p {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
/* Utility */

.text-primary {
  color: #93cb52;
}

/* Navbar */

#navbar {
  background: #333;
  color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  position: sticky;
  z-index: 1;
  top: 0;
}

#navbar ul {
  display: flex;
}

#navbar ul li a {
  padding: 0.75rem 1rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

#brand {
  margin-right: 0.5rem;
}

/* showcase */

#showcase {
  background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#showcase h1 {
  color: #f4f4f4;
}

#showcase p {
  color: #f4f4f4;
}

/* Weekly News Section */

.weekly-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 4rem;
}

.weekly-content ul {
  margin-left: 3rem;
  padding: 1rem 4rem;
  border: solid #93cb52 1px;
  display: inline-block;
}

.weekly-content ul a li {
  display: block;
  color: #333;
}

.weekly-content:last-of-type div {
  padding-left: 0;
  justify-content: flex-start;
}

/* Leader Board */

#leaderboard {
  background: #333;
}

#leaderboard h2 {
  color: #f4f4f4;
  margin-bottom: 2rem;
}

.leaderboard-container {
  width: 100vw;
}

table {
  margin: auto auto;
  width: 100%;
}

table th {
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

table tr {
  background: #93cb52;
}

table tr:nth-child(odd) {
  background: rgb(90, 139, 90);
}

table td {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #f4f4f4;
  font-weight: bold;
}

/* About Us */

.about-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  padding-top: 1rem;
}

.about-container img {
  margin-right: 2rem;
  border-radius: 15%;
}

.about-container h3 {
  text-align: center;
  margin-top: 2rem;
  margin-right: 2rem;
}

/* Footer */

#main-footer {
  background: #333;
}

#main-footer .footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#main-footer .footer-container p {
  padding-top: 1rem;
  color: #f4f4f4;
}

#main-footer .footer-container i {
  padding: 1rem 1rem;
  color: #f4f4f4;
}

#main-footer .footer-container i:hover {
  background: #93cb52;
  border-radius: 50%;
}

/* Media Queries */

@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }

  #navbar {
    display: block;
  }

  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  #navbar ul {
    display: block;
    text-align: center;
  }

  #navbar ul li {
    border-bottom: 1px solid #444;
    padding: 1rem;
  }

  #showcase {
    height: 60vh;
  }

  #showcase .showcase-container h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
  }

  .weekly-content {
    display: block;
    padding: 1rem 3rem;
  }

  .weekly-content:last-of-type div {
    padding-left: none;
  }

  .about-container {
    display: block;
    padding: 1rem 3rem;
  }

  .about-container img,
  h3 {
    display: none;
  }

  #main-footer .footer-container {
    display: block;
  }
}
