body {
    background: url(background.jpg) no-repeat center fixed;
    background-size: cover;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#image {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 0px;
}

#footer {
    background-color:#333;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.alternateColor {
    background-color: #e9f7e4;
    
}

hr {
    width: 93%;
    border-top: 2px solid #eee; 
}

.background-white {
    background-color: #fff;
}

.container {
    
}